body
{
    background: #d14242;
    color: #d14242;
    text-align: center;
    font-family: "Arial";
    font-size: 16px;
    margin: 0;
    padding: 0;
}
#cabecera
{
    background: #f7d35d;
    box-shadow: 0px 2px 20px 0px rgba(0,0,0,
    0.5); 
    color: rgb(201, 51, 51);
    font-weight: bold;
    margin: 0;
    padding: 0. 5em;
}

#cabecera #logo
{
    width: 60px;
    vertical-align: middle;
}

#cabecera #tagline
{
     padding: 0 0 0 1em;
     font-weight: normal;
     font-size: 0.8em;
}

#container
{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid rgb(226, 184, 105);
    margin: 0 auto;
}

#container h1
{
    font-size: 20px;
}
#post
{
    background: rgb(255, 241, 203);
    padding: 1em;
}

#footer
{
    background: rgb(58, 124, 223);
    color: white;
    text-align: center;
    padding: 0.5em;
}